<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="icon" href="favicon-32x32.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="style/styles.css"> 
</head>
<body>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">Portfolio.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#high">Highlights</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tool">Tools</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>

<main class="container">
    <div class="row justify-content-between">
        <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="/wedpage/media/MONCADA, WESLEY ID PIC.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Engr. Don Wesley M. Moncada</h5>
                      <div class="motto">
                      <small class="card-text">"A man with perseverance"</small>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="mocada.html" class="btn btn-sm btn-outline-secondary">View Details</a>
                        </div>
                      </div>
                    </div>  
            </div>
        </div>
        <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="/wedpage/media/MIALDA, JOHNYL, P.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Engr. Johnyl P. Mialda</h5>
                  <div class="motto">
                  <small class="card-text">"If your going through hell, keep going"</small>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="mialda.html" class="btn btn-sm btn-outline-secondary">View Details</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="/wedpage/media/MENDEZ JR., JUNIE R._1X1 PICTURE.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Engr. Junie R. Mendez Jr. </h5>
                  <div class="motto">
                  <small class="card-text">"Anything worth having has no shortcuts"</small>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="mendez.html" class="btn btn-sm btn-outline-secondary">View Details</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="/wedpage/media/LAPADA, MON CRISTIAN Q..png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Engr. Mon Cristian Q. Lapada</h5>
                <div class="motto">
                  <small class="card-text">"If it were easy, everyone would do it."</small>
                </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="lapada.html" class="btn btn-sm btn-outline-secondary">View Details</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="/wedpage/media/BANGAYAN__JAYSON_D.-removebg-preview.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Engr. Jayson D. Bangayan </h5>
                  <div class="motto">
                  <small class="card-text">"It's not about perfect, It's about effort"</small>
                </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="bangayan.html" class="btn btn-sm btn-outline-secondary">View Details</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</main>
<hr>
<div>
   <h1 id="high" style="text-align: center;">Highlights</h1>
</div>

<hr>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="max-height: 150px;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/wedpage/media/high1.png" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="white-box">
                                    <strong><h5>PC Set-up</h5></strong>
                                    <p>Two setups, a laptop and a desktop PC, were compared, beginning with an overview of their peripherals and then an analysis of their specifications including CPU, RAM, storage, and GPU. Following this, a conclusion was drawn on which setup provided better performance and features.</p>
                                </div>
                            </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/wedpage/media/high2.png" alt="Second slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="white-box">
                                    <strong><h5>Patent Searching</h5></strong>
                                    <p>Understanding patents involves keyword searches for "wireless," "device," and "engine" to find data on a wireless mobile engine starting device, followed by document selection, image capture, introduction, mechanism explanation, and enhancement proposals.</p>
                                </div>
                            </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/wedpage/media/high3.png" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="white-box">
                                <strong><h5>Critical Path Method</h5></strong>
                                <p>Excel's Critical Path Method (CPM) functionality streamlines project management by identifying the sequence of tasks that determine the minimum time needed to complete a project, aiding in efficient scheduling and resource allocation.</p>
                            </div>
                        </div>
                    </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/wedpage/media/high4.png" alt="Fourth slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="white-box">
                                    <strong><h5>Fusion 360</h5></strong>
                                    <p>Fusion 360, an advanced CAD/CAM software from Autodesk, facilitates the design, simulation, and manufacturing of diverse products and prototypes, serving as an essential tool for engineers, designers, and manufacturers across industries.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="color: red;">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="color: green;">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div>
    <h1 id="tool" class='behind' style="text-align: center;">Tools</h1>
</div>
<hr>
<div class="image-container">
    <div class="row">
      <div class="col">
        <img src="/wedpage/media/Microsoft_Excel_2013-2019_logo.svg.png" alt="Image 1">
      </div>
      <div class="col">
        <img src="/wedpage/media/Microsoft_Office_PowerPoint_(2019–present).svg.png" alt="Image 2">
      </div>
      <div class="col">
        <img src="/wedpage/media/Microsoft_Office_Word_(2019–present).svg.png" alt="Image 3">
      </div>
    </div>
    
    <div class="small-img-container">
      <img src="/wedpage/media/Fusion-360-Logo-Vector.svg-.png" alt="Small Image 1">
      <img src="/wedpage/media/AutoCad_new_logo.svg.png" alt="Small Image 2">
    </div>
  </div>
  
  <footer>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p >Engr. Don Wesley M. Moncada</p>
            </div>
            <div class="col text-center">
                <p >Engr. Johnyl P. Mialda</p>
            </div>
            <div class="col text-center">
                <p >Engr. Junie R. Mendez Jr.</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p >Engr. Mon Cristian Q. Lapada</p>
            </div>
            <div class="col text-center">
                <p >Engr. Jayson D. Bangayan</p><a href=""><i class="fa-brands fa-facebook"></i></a>
            </div>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>
